*
{
	box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header
{
    position: fixed;    
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,.3);
    z-index: 100;
    font-family: ProximaNova;
    text-shadow: 1px 0 0 #333;
    font-weight: 300;
    top: 0;
}

nav
{
    float: right;
    width: 90%;
    height: 100%;
}

nav>ul
{
    vertical-align: middle;
    height : 100%;
    background: rgba(0,0,0,.7);
}

nav>ul>li
{
    display: inline-table;
    width: 19.77%;
    vertical-align: bottom;
    text-align: center;
    height: 100%;
}

nav>ul>li>a
{
    color: #fff;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    font-family: ProximaNova;
    font-size: 16px;
    text-shadow: 0 1px #000
}

#hello
{
	width: 100%;
    height : 100vh;
    display : table;	
	text-align: center;    
}

.hello-text
{
	display: block;
	font-family: 'Lato', sans-serif;
}

#hello-text-container
{    
    display : table-cell;
    vertical-align: middle;   
}

.separator
{
    height : 50px;
    width : 100%;
    background: hsla(0,0%,0%,.1);
    margin-top: -50px;
}


#skills
{
    width : 1200px;
    height : 100vh;
    margin : 0 auto;
}

#skills-header
{
    font-size: 30pt;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    -webkit-font-smoothing : antialiased;
    text-align: center;
    margin-top: 50px;
    color: #444649;
}

#skills-underline
{
    width: 80px;
    height: 4px;
    display: block;
    background-color: #444649;
    margin: 0 auto;
}

#skills-standard
{
    margin: 0 auto;
    display: block;
    width: 1200px;
}

.skills-icon
{
    color: hsl(350, 100%, 62%);
}