.wraper{
	width:470px;
	margin:20px auto;
}

.wraper:before,
.wraper:after {
  display: table;
  content: " ";
}

.wraper:after{
  clear: both;
}

/* Skills Style 6 */

.skillst6{
	width:100%;
	color:#fff;
}
.skillst6 .skillbar{
	width: 100%;
	height: 40px;
	position:relative;
	margin-bottom:30px;
}
.skillst6 .count-bar{
	height: 100%;
	width:0px;
	position:relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.skillst6 .count-bar.color-1{
	background-color: #338ae7;

}
.skillst6 .count-bar.color-2{
	background-color: #fe871f;

}
.skillst6 .count-bar.color-3{
	background-color: #bd5cb9;

}
.skillst6 .count-bar.color-4{
	background-color: #2d7da5;

}
.skillst6 .count-bar.color-5{
	background-color: #f75d41;

}
.skillst6 .title{
	font-size:14px;
	font-weight:400;
	padding-left:12px;
	line-height:40px;
	text-transform:uppercase;
}
.skillst6 .count{
	position:absolute;
	top:0;
	right:12px;
	line-height:40px;
	font-size:14px;
	font-weight:400;
}

/*Coustom Media Query Css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media only screen and (max-width: 767px) {
	
}
